body {
  background-color: black;
}

h1 {
  font-family: Pacifico;
  color: teal;
  font-size: 100px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
h2 {
  font-family: Pacifico;
  color: white;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
  font-size: 30px;
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    text-align: center;
    display: inline;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Pacifico;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: teal;
}
